template_path: "remote/sc-portfolio-s3-basic.yaml"
stack_name: "sc-portfolio-s3-basic"
dependencies:
  - "prod/sc-s3-launchrole.yaml"
  - "prod/sc-enduser-iam.yaml"
parameters:
  ProductVersionName: "v1.2.2"
  LaunchRoleName: "SCS3LaunchRole"
  PrincipalRoleName1: "ServiceCatalogEndusers"
  PrincipalGroupName1: "ServiceCatalogEndusers"
  RepoRootURL: "https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/scipoolprod-sc-lib-infra/master/"
hooks:
  before_create:
    - !cmd "curl https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/scipoolprod-sc-lib-infra/master/s3/sc-portfolio-s3-basic.yaml --create-dirs -o templates/remote/sc-portfolio-s3-basic.yaml"
  before_update:
    - !cmd "curl https://s3.amazonaws.com/{{stack_group_config.admincentral_cf_bucket}}/scipoolprod-sc-lib-infra/master/s3/sc-portfolio-s3-basic.yaml --create-dirs -o templates/remote/sc-portfolio-s3-basic.yaml"
